
RewriteEngine On
RewriteRule ^$ original.php
RewriteRule ^original.php/?$ redirect.php

RewriteRule ^original.php/(.*)/(.*) redirect.php?role=$1&user=$2
RewriteRule ^original.php/(.*)$ redirect.php?role=none&user=$1

RewriteRule ^(.*)/(.*) redirect.php?role=$1&user=$2
